

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 30px;
    padding: 4% 0%;
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#head #top-right {
    width: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 3%;
}

#contact {
    display: flex;
    justify-content: space-around;
    width: 70%;
    border-style: solid;
    border-width:2px 0px;
    padding: 2% 0%;
}

#contact p {
    font-size: 20px;
}

#head #top-left {
    width: 10%;
}

img {
    width: 200px; 
    height: 170px; 
    border-radius: 50%;
    object-fit: cover;
}

#aboutme {
    display: block;
    padding: 4%;
}

#aboutme p {
    text-align: justify;
    font-size: 20px;
}

#edu {
    display: block;
    padding: 2% 4%;
    border-style: solid;
    border-width:2px 0px 0px 0px;
}

#edu h2 {
    font-size: 30px;
    padding-bottom: 1%;
}

#edu h3 {
    font-size: 20px;
    padding-bottom: 1%;
}

#edu #details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edu #details p {
    font-size: 18px;
    text-align: center;
}

#skills {
    display: block;
    padding: 0% 4%;
}

#skills h2{
    font-size: 30px;
    padding-bottom: 5px;
}

#skills button {
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
}

#skills #show {
    background-color: yellow;
}

#skills #hide {
    background-color: greenyellow;
}

#skills #showskills {
    display: none;
    padding-top: 2%;
    padding-left: 2%;
    
}

#skills #showskills .bullet li {
    padding: 5px 0%;
    font-size: 18px;
}

#work {
    display: block;
    padding: 2% 4%;
}

#work h2{
    font-size: 30px;

}

#work .container h3{
    padding: 1% 0%;
    font-size: 20px;
}

#work .container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#work .keypoint .bullet {
    padding-top: 5px;
    padding-left: 2%;
}

#work .keypoint .bullet li {
    padding: 5px 0%;
    font-size: 16px;
}

footer {
    background-color: rgb(219, 218, 218);
    padding: 10px;
}

footer .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

footer .head a {
    font-size: 20px;
}

footer .head a:hover {
    color: aqua;
}

@media (max-width: 1200px) {
    #contact {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    #head {
        display: flex;
        flex-direction: column;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    
    #contact p {
        padding-bottom: 4px;
    }
    
    #edu {
        display: block;
        padding: 5% 2%;
    }
    
    #edu h3{
        padding-top: 2%;
    }

    #edu #details {
        padding: 2% 0%;
        flex-wrap: wrap;
        font-size: 16px;
    }
    
    #skills {
        padding: 0% 2%;
    }
    
    #skills #showskills {
        padding-left: 5%;
        
    }
    
    #skills #showskills .bullet li {
        padding: 4px 0%;
        font-size: 16px;
    }
    
    #work {
        padding: 5% 2%;
    }
    
    #work .container h3{
        padding: 2% 0%;
        font-size: 20px;
    }
    
    #work .container .title {
        padding: 5px 0%;
        flex-wrap: wrap;
    }

    #work .keypoint .bullet {
        padding-top: 5px;
        padding-left: 5%;
    }
    
    #work .keypoint .bullet li {
        padding: 4px 0%;
        font-size: 16px;
    }
}
